{% extends "layout.html" %}

{% block title %}Etusivu{% endblock %}
{% block content %}

<h2>Etusivu</h2>
Tervetuloa etusivulle!
<br>
Valitse aihealue alta tai siirry
<a href="{{ url_for('search_forum') }}">hakuun</a>.

<h3>Aihealueet</h3>
{% for topic in topics %}
<div id="{{ topic.id }}">
<h4>{{ topic.name }}</h4>
<p>{{ topic.tcount }} ketjua, joissa {{ topic.mcount }} vastausta.</p>
{% if topic.tlatest %}
<p>
Viimeisin ketju luotu {{ topic.tlatest.strftime("%Y.%m.%d, %H:%M:%S") }}<br>
{% if topic.mlatest %}
Viimeisin viesti lähetetty {{ topic.mlatest.strftime("%Y.%m.%d, %H:%M:%S") }}
</p>
{% endif %}
{% endif %}
<br>
{% if topic.limited_access and not session.admin_role %}
    {% if session.access_rights %}
        {% if topic.id in session.access_rights %}
        <a class="button" href="{{ url_for('open_topic',topic_name=topic.name) }}">Siirry aiheeseen</a>
        {% else %}
        <p>Rajoitettu aihe. Käyttäjälläsi ei ole riittäviä oikeuksia.</p>
        {% endif %}
    {% else %}
    <p>Rajoitettu aihe. Jos sinulla on riittävät oikeudet, kirjaudu sisään.</p>
    {% endif %}
{% else %}
<a class="button" href="{{ url_for('open_topic',topic_name=topic.name) }}">Siirry aiheeseen</a>
{% endif %}
{% if session.admin_role %}
<a class="button" href="{{ url_for('delete_topic', topic_id=topic.id) }}">Poista aihe</a>
{% endif %}
<hr>
</div>
{% endfor %}
{% if session.admin_role %}
<h3>Uusi aihe</h3>
<form action="{{ url_for('index') }}" method="POST">
<label for="new_topic_name">Aiheen nimi</label>
<input type="text" id="new_topic_name" name="new_topic_name" maxlength="30">
<label for="limited_access">Rajoitettu pääsy</label>
<input class="button" type="checkbox" id="limited_access" name="limited_access" value="True">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input class="button" type="submit" value="Lisää aihe">
</form>
{% endif %}

{% endblock %}