{% extends "layout.html" %}

{% block title %}Etusivu{% endblock %}
{% block content %}

<h2>Etusivu</h2>
Tervetuloa etusivulle!
<br>
Valitse aihe-alue alta tai siirry
<a href="{{ url_for('search_forum') }}">hakuun</a>.

<h3>Aihe-alueet</h3>
{% for topic in topics %}
<h4>{{ topic.name }}</h4>
{{ topic.tcount }} ketjua, joissa {{ topic.mcount }} vastausta.
<br>
{% if topic.tlatest %}
Viimeisin lanka luotu {{ topic.tlatest.strftime("%Y.%m.%d, %H:%M:%S") }}
<br>
{% if topic.mlatest %}
Viimeisin viesti lähetetty {{ topic.mlatest.strftime("%Y.%m.%d, %H:%M:%S") }}
<br>
{% endif %}
{% endif %}
<br>
<a href="{{ url_for('open_topic',topic_name=topic.name) }}">Siirry aiheeseen</a>
{% if session.admin_role %}
<a href="{{ url_for('delete_topic', topic_id=topic.id) }}">Poista aihe</a>
{% endif %}
<hr>
{% endfor %}
{% if session.admin_role %}
<form action="{{ url_for('index') }}" method="POST">
<input type="text" name="new_topic_name">
<div class="checkbox_on_line">
<label for="limited_access">Rajoitettu pääsy</label>
<input type="checkbox" id="limited_access" name="limited_access" value="True">
</div>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="submit" value="Lisää aihe">
</form>
{% endif %}

{% endblock %}