{% extends "layout.html" %}

{% block title %}Etusivu{% endblock %}
{% block content %}

<h2>Etusivu</h2>
Tervetuloa etusivulle!
<br>
Valitse aihealue alta tai siirry
<a href="{{ url_for('search_forum') }}">hakuun</a>.

<h3>Aihealueet</h3>
{% for topic in topics %}
<h4>{{ topic.name }}</h4>
{{ topic.tcount }} ketjua, joissa {{ topic.mcount }} vastausta.
<br>
{% if topic.tlatest %}
Viimeisin ketju luotu {{ topic.tlatest.strftime("%Y.%m.%d, %H:%M:%S") }}
<br>
{% if topic.mlatest %}
Viimeisin viesti lähetetty {{ topic.mlatest.strftime("%Y.%m.%d, %H:%M:%S") }}
<br>
{% endif %}
{% endif %}
<br>
<a class="button" href="{{ url_for('open_topic',topic_name=topic.name) }}">Siirry aiheeseen</a>
{% if session.admin_role %}
<a class="button" href="{{ url_for('delete_topic', topic_id=topic.id) }}">Poista aihe</a>
{% endif %}
<hr>
{% endfor %}
{% if session.admin_role %}
<h3>Uusi aihe</h3>
<form action="{{ url_for('index') }}" method="POST">
<label for="new_topic_name">Aiheen nimi</label>
<input type="text" id="new_topic_name" name="new_topic_name" maxlength="30">
<label for="limited_access">Rajoitettu pääsy</label>
<input class="button" type="checkbox" id="limited_access" name="limited_access" value="True">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input class="button" type="submit" value="Lisää aihe">
</form>
{% endif %}

{% endblock %}