{% extends "layout.html" %}

{% block title %}Kirjaudu sisään{% endblock %}
{% block content %}

<h2>Sisäänkirjautuminen</h2>
<form action="{{ url_for('login') }}" method="post">
<label for="username">Käyttäjätunnus</label>
<input type="text" id="username" name="username" value="{{ username }}">
<label for="password">Salasana</label>
<input type="password" id="password" name="password">
<input class="button" type="submit" value="Kirjaudu sisään">
</form>

{% if error_message %}
<p></p>{{ error_message }}.</p>
{% endif %}

{% endblock %}