{% extends "layout.html" %}

{% block title %}Rekisteröidy{% endblock %}
{% block content %}

<h2>Rekisteröi käyttäjä</h2>

<form action="{{ url_for('register') }}" method="post">
<label for="username">Käyttäjätunnus</label>
<input type="text" id="username" name="username" value="{{ username }}">
<label for="password1">Salasana</label>
<input type="password" id="password1" name="password1">
<label for="password2">Salasana uudestaan</label>
<input type="password" id="password2" name="password2">
<input class="button" type="submit" value="Rekisteröidy">
</form>

{% if error_message %}
<p>{{ error_message }}.</p>
{% endif %}

{% endblock %}