<title>{{ topic.name }} - {{ thread.subject }}</title>
<h1>{{ topic.name }}</h1>
<a href={{ url_for("index") }}>Palaa etusivulle</a>
<br>
<a href={{ url_for("open_topic", topic_name=topic.name)}}>Palaa aihe-sivulle {{ topic.name }}</a>
{{ thread.subject }}
<hr>
{% for message in messages %}
{{ message.creator_name }} - {{ message.created_at }}
<br>
{{ message.content }}
<hr>
{% endfor %}
<form action={{ url_for("open_thread", thread_id=thread.id, topic_name=topic.name) }} method="post">
<input type="text" name="new_message">
<br>
<input type="submit" value="Lähetä viesti">
</form>