{% extends "layout.html" %}

{% block title %}{{ topic.name }} &gt; {{ thread.subject }}{% endblock %}
{% block content %}

<h2>{{ thread.name }}</h2>
<a href="{{ url_for('index') }}">Palaa etusivulle</a>
<a href="{{ url_for('open_topic', topic_name=topic.name) }}">Palaa aihe-sivulle {{ topic.name }}</a>
<br> 
<a href="{{ url_for('edit_thread', thread_id=thread.id) }}">Muokkaa lankaa</a>
<hr>
<a href="{{ url_for('user_profile', user_id=thread.creator_id) }}"><b>{{ thread.creator_name }}</b></a>: {{ thread.subject }}
<br>
{% if thread.creator_id in blocks %}
<p><b>Käyttäjä on estetty. Poista esto nähdäksesi sisällön</b></p>
{% else %}
<p>{{ thread.content }}</p>
{% endif %}
<hr>
{% for message in messages %}
<div id="{{ message.id }}">
<a href="{{ url_for('user_profile', user_id=message.creator_id) }}"><b>{{ message.creator_name }}</b></a> - {{ message.created_at }}
<br>
{% if message.creator_id in blocks %}
<p><b>Käyttäjä on estetty. Poista esto nähdäksesi sisällön</b></p>
{% else %}
<p>{{ message.content }}</p>
{% endif %}
<br>
<a href="{{ url_for('edit_message', message_id=message.id) }}">Muokkaa viestiä</a> 
<a href="{{ url_for('delete_message', message_id=message.id) }}">Poista viesti</a>
<hr>
</div>
{% endfor %}
<form action="{{ url_for('open_thread', thread_id=thread.id, topic_name=topic.name, _anchor='end_of_page') }}" method="post" id="end_of_page">
<label for="new_message">Uusi viesti</label>
<input type="text" id="new_message" name="new_message">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="submit" value="Lähetä viesti">
</form>

{% endblock %}