{% extends "layout.html" %}

{% block title %}{{ topic.name }}{% endblock %}
{% block content %}

<h2>{{ topic.name }}</h2>
<a href="{{ url_for('index') }}">Palaa etusivulle</a>
<hr>
{% for thread in threads %}
{{ thread.subject }}, julkaissut 
<a href="{{ url_for('user_profile', user_id=thread.creator_id) }}"><b>{{ thread.creator_name }}</b></a> -
{{ thread.created_at }}
<br>
Viestejä: {{ thread.mcount }}
{% if thread.mlatest %}
 - Viimeisin viesti {{ thread.mlatest }}
{% endif %}
<br>
{{ thread.content }}
<br>
<a href="{{ url_for('open_thread', topic_name=topic.name, thread_id=thread.id) }}">Siirry ketjuun</a> 
<a href="{{ url_for('delete_thread', thread_id=thread.id) }}">Poista ketju</a>
<hr>
{% endfor %}
<form action="{{ url_for('open_topic', topic_name=topic.name) }}" method="post">
<label for="new_thread_subject">Otsikko</label>
<input type="text" id="new_thread_subject" name="new_thread_subject">
<label for="new_thread_content">Viesti</label>
<input type="text" id="new_thread_content" name="new_thread_content">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="submit" value="Lisää keskustelu">
</form>

{% endblock %}