<title>Aiheet</title>
<h1>{{ topic.name }}</h1>
<a href={{ url_for("index") }}>Palaa etusivulle</a>
<hr>
{% for thread in threads %}
{{ thread.subject }}, julkaissut {{ thread.creator_name }} {{ thread.created_at }}
<br>
<a href={{ url_for("open_thread", topic_name=topic.name, thread_id=thread.id) }}>Siirry ketjuun</a>
<hr>
{% endfor %}
<form action={{ url_for("open_topic", topic_name=topic.name) }} method="post">
<input type="text" name="new_thread_name">
<br>
<input type="submit" value="Lisää keskustelu">
</form>
