{% extends "layout.html" %}

{% block title %}Käyttäjän {{ user.name }} profiili{% endblock %}
{% block content %}

Käyttäjän <b>{{ user.name }}</b> profiili.
<br>

{% if session.admin_role %}
    {% if user.admin_role %}
        <a href="{{ url_for('revoke_admin_role', user_id=user.id)}}">Poista ylläpito-oikeudet</a>
    {% else %}
        <a href="{{ url_for('grant_admin_role', user_id=user.id) }}">Anna ylläpito-oikeudet</a>
    {% endif %}
    <form id="access_right_form" action="{{ url_for('update_access_rights', user_id=user.id) }}" method="post">
        {% for topic in topics %}
        <div class="checkbox_on_line">
            <label for="{{ topic.id }}">{{ topic.name }}</label>
            {% if topic.id in access_rights %}
                <input type="checkbox" id="{{ topic.id }}" name="{{ topic.id }}" value="True" checked>
            {% else %}
                <input type="checkbox" id="{{ topic.id }}" name="{{ topic.id }}" value="True">
            {% endif %}
        </div>
        {% endfor %}
        <input type="submit" value="Päivitä oikeudet">
    </form>
{% endif %}

{% if not user_blocked %}
    {% if session.user_id == user.id %}
        Oma käyttäjäsi
    {% elif not session.user_id %}
        Kirjaudu sisään lisätäksesi kavereita
    {% else %}
        {% if blocked_by_user %}
            Et voi lähettää tälle käyttäjälle kaveripyyntöä
        {% elif friend_request_sent %}
            {% if friend_request_received %}
                <a href="{{ url_for('remove_friend', user_id=user.id) }}">Poista kavereista</a>
            {% else %}
                <a href="{{ url_for('remove_friend', user_id=user.id) }}">Peru kaveripyyntö</a>
            {% endif %}
        {% elif friend_request_received %}
            <a href="{{ url_for('add_friend', user_id=user.id) }}">Hyväksy kaveripyyntö</a>
        {% else %}
            <a href="{{ url_for('add_friend', user_id=user.id) }}">Lähetä kaveripyyntö</a>
        {% endif %}
        <a href="{{ url_for('block_user', user_id=user.id) }}">Estä käyttäjä</a>
    {% endif %}
{% else %}
    <a href="{{ url_for('unblock_user', user_id=user.id) }}">Poista esto</a>
{% endif %}
<br>

{% if not restricted_view or session.user_id == user.id %}
Rajattua tietoa
{% endif %}

{% endblock %}